/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/*search field length*/
#header-search {
    width: 128px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Order widget */
#order-state a:not(.text-primary) {
    color: grey;
}

#order-state a:hover {
    color: #337ab7;
}

#order-state {
    table-layout: fixed;
}

.table-vertical-center td {
    vertical-align: middle;
}

/* Order Index */
#cart-management input:not([type="submit"]) {
    max-width: 48px;
    width: 48px;
    min-width: 48px;
    float: left;
    margin-right: 12px;
}

.large-icon {
    font-size: 100%;
}

